footer {
    padding-top: 14rem;
    padding-bottom: 2rem;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    
    a:link, a:visited {
        @include set-font(small);
        color: $gray;
        text-decoration: underline;
    }
}