$primary: #2E64F0;

$primary-light-1: #5883F3;
$primary-light-2: #ABC1F9;

$primary-dark-1: #2046A8;
$primary-dark-2: #13307D;

$secondary: #F0972E;

$secondary-light-1: #F3AC58;
$secondary-light-2: #F8CB97;

$secondary-dark-1: #C07925;
$secondary-dark-2:  #784C17;

$white: #FFFFFF; 
$gray-light: #EFEFEF;
$gray: #4E5977;
$black: #050A18;

$green: #3a7d1e;
$red: #C62F2F;