#login-container {
    padding-top: 6rem;
    width: 100rem;
    margin: 0 auto;
}

#google-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    border: 1px solid $primary;
    border-radius: 2px;

    background-color: $primary;

    div {
        padding: 0.5rem 1rem;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        margin: auto auto;
        width: 3rem;
        height: 3rem;
        background-color: white;
    }

    p {
        color: $white;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 78.5em) {
    #login-container {
        width: 80%;
    }
}