@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Pacifico&display=swap'); //fonts
@import './colors';
@import './resets';

@mixin flex-column($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin reset-list($dir, $gap){
    list-style: none;

    display: flex;
    flex-direction: $dir;
    gap: $gap;

    li {
        display: flex;
        align-items: center;
    }
}

@mixin set-font($size) {
    @if $size == 'small' {
        font-size: 1.6rem;
    } @else if $size == 'normal' {
        font-size: 1.8rem;
    } @else if $size == 'big' {
        font-size: 2rem;
    } @else {
        font-size: 1.6rem;
    }
}

main {
    min-height: calc(100vh - 30rem);
}


body {
    @include set-font(normal);
    line-height: 1.4;
}

//Main Landing Page Sections
@import './landing/hero';
@import './landing/offer';
@import './landing/howitworks';
@import './landing/cta';
@import './landing/contact';
@import './landing/details';

@import './components/components';
@import './components/header';
@import './components/footer';
@import './components/payment_messages';

//Dashboard
@import './logged/dashboard';
@import './logged/contact';
@import './logged/instructions';

@import './pricing';
@import './loginpage';